# ======================
# Node / Frontend
# ======================
node_modules/
build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
/coverage

# ======================
# Python / Backend
# ======================
.venv/
env/
venv/
__pycache__/
*.py[cod]
*.egg-info/

# Django/백엔드 임시 파일
*.db
*.sqlite3

# ======================
# OCR 데이터 & 결과
# ======================
backend/data/
backend/uploads/
backend/results/
dataset/images/
dataset/labels/

# YOLO / Training outputs
runs/
*.pt
FUNIT_checkpoints/

# ======================
# IDE / OS
# ======================
.vscode/
.DS_Store
Thumbs.db

# ======================
# 기타 로그
# ======================
*.log
*.tar.gz
*.zip
*.pkl
*ipynb
*.pyc


# Tesseract OCR 데이터
tessdata/
*.traineddata